.about
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center

  &__info,
  &__img-container
    flex-basis: 47%
    min-width: 400px
    flex: 1

  &__stats
    margin-top: 100px
    padding: 35px 0
    display: flex
    flex: 1
    flex-basis: 100%
  

  &__title
    font-size: 50px
    font-weight: 500

  &__bold
    font-weight: 700
  
  &__subtitle
    margin: 20px 0 50px
