.button
  padding: 13px
  width: 100%
  color: $accent-color
  background-color: $white
  border: 1px solid $accent-color
  border-radius: 50px

  font-family: "Rubik Medium", sans-serif
  font-size: 16px
  cursor: pointer
  transition: color 300ms, background-color 300ms
    
  &:hover
    color: $white
    background-color: $accent-color