.footer
  display: flex
  flex-wrap: wrap
  justify-content: center

  &__about
    flex-basis: 50%

  &__socials
    margin: 30px 0

  &__subtitle
    max-width: 340px

  &__nav-list
    display: flex
    flex-basis: 50%
    min-width: 400px
    justify-content: space-between