.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 50px calc((100% - 1200px) / 2 )

  &__logo
    display: flex
    align-items: center

  &__image
    width: 35px
    height: 35px

  &__title
    margin-left: 10px
    font-size: 20px

  &__bold
    font-family: "Rubik Medium", sans-serif

  &__authorization
    display: flex
    align-items: center

  &__singin
    margin-right: 30px

  &__button
    width: 150px