.section
  width: 100%
  padding: 100px calc((100% - 1200px) / 2 ) 0
  background-color: $white

  &__title
    font-family: "Rubik Medium", sans-serif
    font-size: 35px
    line-height: 1.5

  &__subtitle
    color: $secondary-color
    line-height: 2
    margin-top: 10px

  &__bold
    font-weight: 600

  &_lightgrey
    background-color: $lightgrey

  &_grey
    background-color: $grey